<a href="https://colab.research.google.com/github/Dohyeon-Kim1/Python-I/blob/master/Dohyeon_Kim_Assignment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import pandas as pd

df = pd.read_csv('/content/gdrive/My Drive/TopSellingAlbums.csv')

In [3]:
df

            Artist                            Album  ...  Soundtrack Rating
0  Michael Jackson                         Thriller  ...         NaN   10.0
1            AC/DC                    Back in Black  ...         NaN    9.5
2       Pink Floyd        The Dark Side of the Moon  ...         NaN    9.0
3  Whitney Houston                    The Bodyguard  ...           Y    8.5
4        Meat Loaf                  Bat Out of Hell  ...         NaN    8.0
5           Eagles  Their Greatest Hits (1971-1975)  ...         NaN    7.5
6         Bee Gees             Saturday Night Fever  ...           Y    7.0
7    Fleetwood Mac                          Rumours  ...         NaN    6.5

[8 rows x 10 columns]

In [4]:
example1 = df.loc[2,'Length']
example1

'0:42:49'

In [6]:
example2 = df.loc[2:5,'Artist']
example2

2         Pink Floyd
3    Whitney Houston
4          Meat Loaf
5             Eagles
Name: Artist, dtype: object

In [7]:
example3 = df.loc[1:4,'Artist':'Genre']
example3

            Artist  ...                        Genre
1            AC/DC  ...                    hard rock
2       Pink Floyd  ...             progressive rock
3  Whitney Houston  ...               R&B, soul, pop
4        Meat Loaf  ...  hard rock, progressive rock

[4 rows x 5 columns]

In [8]:
example4 = example3.loc[3,'Album']
example4

'The Bodyguard'

In [10]:
example5 = df.iloc[3,5]
example5

27.4

In [12]:
example6 = df.iloc[0:2,4]
example6

0    pop, rock, R&B
1         hard rock
Name: Genre, dtype: object

In [14]:
example7 = df.iloc[1,3:5]
example7

Length      0:42:11
Genre     hard rock
Name: 1, dtype: object

In [15]:
example8 = df.iloc[2:4,1:5]
example8

                       Album  Released   Length             Genre
2  The Dark Side of the Moon      1973  0:42:49  progressive rock
3              The Bodyguard      1992  0:57:44    R&B, soul, pop

In [17]:
example9 = df.iloc[[1,4,6],[2,3,5]]
example9

   Released   Length  Music Recording Sales (millions)
1      1980  0:42:11                              26.1
4      1977  0:46:33                              20.6
6      1977  1:15:54                              20.6

In [19]:
example10 = example9.iloc[1,2]
example10

20.6

In [21]:
example11 = example3.iloc[1,2]
example11

1973

In [0]:
filter1 = df["Released"] > 1979
filter2 = df["Music Recording Sales (millions)"] > 24

In [23]:
df.where(filter1 & filter2)

            Artist          Album  Released  ... Released.1 Soundtrack  Rating
0  Michael Jackson       Thriller    1982.0  ...  30-Nov-82        NaN    10.0
1            AC/DC  Back in Black    1980.0  ...  25-Jul-80        NaN     9.5
2              NaN            NaN       NaN  ...        NaN        NaN     NaN
3  Whitney Houston  The Bodyguard    1992.0  ...  17-Nov-92          Y     8.5
4              NaN            NaN       NaN  ...        NaN        NaN     NaN
5              NaN            NaN       NaN  ...        NaN        NaN     NaN
6              NaN            NaN       NaN  ...        NaN        NaN     NaN
7              NaN            NaN       NaN  ...        NaN        NaN     NaN

[8 rows x 10 columns]

In [25]:
small_database = df.iloc[[0,1,3],:]
small_database

            Artist          Album  Released  ... Released.1 Soundtrack  Rating
0  Michael Jackson       Thriller      1982  ...  30-Nov-82        NaN    10.0
1            AC/DC  Back in Black      1980  ...  25-Jul-80        NaN     9.5
3  Whitney Houston  The Bodyguard      1992  ...  17-Nov-92          Y     8.5

[3 rows x 10 columns]

In [0]:
# Genre of Michal Jackson's album includes 'rock'
# Genre of AC/DC's album includes 'rock'
# Genre of Whitney Houston's album dosen't include 'rock'